@mixin transition {
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

img.profile-small {
  height: 70px;
  width: 70px;
  cursor: pointer;
  @include transition;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

img.profile-large {
  height: 100px;
  width: 100px;
  cursor: pointer;
  @include transition;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}
