@import "custom";

.search-bar-bg{
  @include transition;
  margin: 0 auto;
  min-height: 40px;
  width: 930px;
  ::-webkit-input-placeholder {
     color: white;
     opacity: 0.5;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: white;
     opacity: 0.5;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: white;
     opacity: 0.5;
  }

  :-ms-input-placeholder {
     color: white;
     opacity: 0.5;
  }
  ul.search-bar{
    @include transition;
    position: fixed;
    background: $blue;
    height: 40px;
    width: 930px;
    z-index: 1000;
    display: flex;
    display: -webkit-flex;
    li{
      display: inline;
      color: white;
      flex:1;
      -webkit-flex:1;
      text-align: center;
      padding-top: 10px;
      font-weight: 300;
      cursor: pointer;
      color: white;
      opacity: 0.6;
      @include transition;
      &.search{
        flex: 3;
        -webkit-flex:3;
        cursor: default;
        .fa-search{
          opacity: 0.6;
          @include transition;
        }
      }
      &:hover, &.selected{
        background: $blue-active;
        .fa-search{
          opacity: 1;
        }
        opacity: 1;
      }
      input{
        padding-left: 20px;
        width: 80%;
        border:none;
        background: none;
        &:focus{
          border:none;
          outline: none;
        }
      }
    }
  }
}

@media screen and (max-width:1350px) {
  .search-bar-bg{
    width: 730px;
    ul.search-bar{
      width: 730px;
    }
  }
}

@media screen and (max-width:1180px) {
  .search-bar-bg{
    width: 560px;
    ul.search-bar{
      width: 560px;
      li.search{
        flex:2;
        -webkit-flex:2;
      }
    }
  }
}
