$black1: #373332;
$black2: #2a2827;
$black3: #423e3c;
$black4: #4a4745;
$blue: #218bd7;
$blue-hover: #37ABFF;
$gray: #717070;
$gray-hover: #9A9A9A;
$white: #D0D0D0;
$gray-area: #E4E4E4;
@mixin transition {
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

ul.cell{
  a{
    color: $blue;
    &:hover{
      color: $blue-hover;
    }
  }
  margin: 0 auto;
  width: 970px;
  padding: 15px 20px 0 20px;
  @include transition;
  li.cell-content{
    &:after{
      content: "";
      display: block;
      clear: both;
    }
    background: white;
    padding-bottom: 25px;
    .content-left{
      position: absolute;
    }
    .content-right{
      padding: 25px 30px 0 135px;
      float: left;
      h5.shared{
        margin-top: 0;
        font-size: 16px;
        color:$white;
        font-weight: 300;
        span{
          color: $blue;
          font-weight: 400;
        }
      }
      .sharing{
        height: 102px;
        border: 1px solid #E4E4E4;
        &:after{
          content: "";
          clear: both;
          display: block;
        }

        &:hover{
          border: 1px solid $blue;
          @include transition;
        }

        img{
          width: 100px;
          height: 100px;
          position: absolute;
          border: none;
          background-color: $white;
        }
        p, h5{
          float: left;
          padding-left: 115px;
          overflow: hidden;
        }
        p{
          height: 40px;
          margin-bottom: 5px;
        }
        h5{
          margin-top: 18px;
          min-height: 18px;
          max-height: 36px;
        }
      }
      ul.social-icons{
        li{
          display: inline;
          margin-right: 10px;
          margin-top: 15px;
          color: $blue;
          float: left;
          &:last-of-type{
            float: right;
          }
        }
      }
    }
    profile-large{
      img{
        margin-top: 25px;
        margin-left: 20px;
      }
    }
  }
  li.comments p{
    background-color: $gray-area;
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    a{
      color:$gray;
      &:hover, &:focus{
        color: $gray-hover;
      }
    }
  }
}

@media screen and (max-width:1350px) {
  ul.cell{
    width: 770px;
    li.cell-content{
      .content-right{
        .sharing{
          h5{
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1180px) {
  ul.cell{
    width: 600px;
  }
}
