@import "custom";

html, body {
  overflow-x: hidden;
}

body {
  background: $black1;
}

body, h1, h2, h3, h4, h5, p {
  color: #5A5A5A;
}

a{
  @include transition;
  &:hover, &:focus{
    text-decoration: none;
  }
}

.r-width{
  width: 930px;
}

@media screen and (max-width:1350px) {
  .r-width{
    width: 730px;
  }
}

@media screen and (max-width:1180px) {
  .r-width{
    width: 560px;
  }
  .s-hide{
    display: none !important;
  }
}

//btns style
.btn-blue{
  background-color: $blue-active;
  border-radius: 0;
  color: $white-text;
  border: 0;
  @include transition;
  &:hover{
    background-color: $blue;
    color:$white-text;
  }
  &:focus{
    background-color: $blue;
    color:$white-text;
  }
}

//banner overlay
.overlay{
  position: absolute;
  height: 250px;
  top:100px;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #373332 100%);
}


//navs on the left and righ sides
.main-nav {
  @include medium-text;
  width: 120px;
  color: $gray;
  background: $black2;
  float: left;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;

  li.logo{
    background-color: $blue;
    height: 120px;
    width: 100%;
    margin-bottom: 86px;
  }

  li {
    padding: 0px 20px 20px 20px;
    &.selected a{
      color: $blue;
      &:hover{
        color: $blue-hover;
      }
    }
    a{
      color: $gray;
      &:hover{
        color: $gray-hover;
      }
    }
  }
}

.main-content{
  padding-left: 120px;
  padding-right: 250px;
}

.main-shortcuts{
  float: right;
  top: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 250px;
  z-index: 100;
  li{
    background: $black3;
  }

  li.profile{
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    @include medium-text;
    color: $white;
    img{
      margin-bottom: 15px;
    }
  }

  li.shortcut-btns{
    padding-bottom: 30px;
    padding-top: 10px;
    &:after{
      clear:both;
      content: "";
      display: block;
    }
    .shortcut-btn img{
      width: 25px;
      height: 25px;
      cursor: pointer;
      @include transition;
      opacity: 0.6;
      &:hover{
        opacity: 1;
      }
    }
  }
}
