@import "custom";

// profile pic
img.profile-small {
  height: 70px;
  width: 70px;
  cursor: pointer;
  @include transition;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

img.profile-large {
  height: 100px;
  width: 100px;
  cursor: pointer;
  @include transition;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

// post style
ul.cell{
  margin: 0 auto;
  width: 970px;
  padding: 15px 20px 0 20px;
  a{
    color: $blue-text;
    &:hover{
      color: $blue-hover;
    }
  }
  span.time{
    float: right;
    color: $white !important;
    font-size: 14px !important;
    font-weight: 300 !important;
  }
  @include transition;
  li.cell-content{
    @include floatfix;
    background: white;
    padding-bottom: 25px;
    .content-left{
      position: absolute;
    }
    .content-right{
      width: 930px;
      padding: 25px 30px 0 135px;
      float: left;
      h5.shared{
        margin-top: 0;
        font-size: 14px;
        color:$white;
        font-weight: 300;
        span{
          color: $blue-text;
          font-weight: 400;
          font-size: 16px;
        }
      }
      .text{
        min-height: 60px;
      }
      .sharing{
        height: 102px;
        border: 1px solid #E4E4E4;
        @include floatfix;

        &:hover{
          border: 1px solid $blue-text;
          @include transition;
        }

        img{
          width: 100px;
          height: 100px;
          position: absolute;
          border: none;
          background-color: $white;
        }
        p, h5{
          float: left;
          padding-left: 115px;
          overflow: hidden;
        }
        p{
          height: 40px;
          margin-bottom: 5px;
        }
        h5{
          margin-top: 18px;
          min-height: 18px;
          max-height: 36px;
        }
      }
      ul.social-icons{
        li{
          display: inline;
          margin-right: 10px;
          margin-top: 15px;
          color: $blue-text;
          float: left;
          &:last-of-type{
            float: right;
          }
        }
      }
    }
    profile-large{
      img{
        margin-top: 25px;
        margin-left: 20px;
      }
    }
  }
  li.comments{
    p.previous{
      background-color: $gray-area;
      margin: 0;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      a{
        color:$gray;
        &:hover, &:focus{
          color: $gray-hover;
        }
      }
    }
    .comment{
      @include floatfix;
      min-height: 90px;
      background-color: $gray-area;
      h5{
        font-weight: 400;
      }
      profile-small{
        img{
          position: absolute;
          margin-left: 20px;
          margin-top: 10px;
        }
      }
      .comment-content{
        width: 930px;
        padding-left: 110px;
        padding-right: 30px;
        float: left;
      }
    }
  }
}

@media screen and (max-width:1350px) {
  ul.cell{
    width: 770px;
    li.cell-content{
      .content-right{
        width: 730px;
        .sharing{
          h5{
            margin-top: 10px;
          }
        }
      }
    }
    li.comments{
      .comment{
        .comment-content{
          width: 730px;
        }
      }
    }
  }
}

@media screen and (max-width:1180px) {
  ul.cell{
    width: 600px;
    li.cell-content{
      .content-right{
        width: 560px;
      }
    }
    li.comments{
      .comment{
        .comment-content{
          width: 560px;
        }
      }
    }
  }
}

//user profile

.profile-bg-pic{
  background: $gray-area;
  height: 350px;
  margin: 0 auto;
}

.user-card{
  height: 100px;
  margin: -70px auto;
  z-index: 100;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  ul{
    display: flex;
    display: -webkit-flex;
    background: $blue-active;
    li{
      display: inline;
      height: 100px;
      float: left;
      color:$white-text;
    }
    li.profile-img{
      width: 100px;
      background: $blue-hover;
    }
    li.user-info{
      min-width: 400px;
      padding-left: 20px;
      padding-right: 20px;
      background: $blue;
      h5, p{
        color:$white-text;
      }
      .title{
        font-size: 18px;
      }
      p{
        font-weight: 300;
      }
      h5{
        height: 32px;
        font-weight: 400;
      }
    }
    li.statistics{
      width: 100px;
      vertical-align: middle;
      text-align: center;
      margin: 0 auto;
      &:before {
        content: '';
        display: inline-block;
        height: 50%;
      }
      .center-text{
        display: inline-block;
        vertical-align: middle;
        .num{
          font-size: 24px;
        }
        a{
          color:$white-text;
          opacity: 0.8;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1350px){
  .user-card ul li.user-info{
    min-width: 0;
  }
}

@media screen and (max-width:1180px) {
  .user-card{
    padding-left: 0;
    padding-right: 0;
  }
}


//user profile content
.profile-content{
  @include floatfix;
  background: white;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  .content{
    overflow: hidden;
    float: left;
    padding-top: 40px;
    .paragraph{
      padding: 0 30px 10px 30px;
      border-bottom: 1px solid $gray-line;
      @include floatfix;
      company-logo-large img {
        float: right;
        margin-top: -80px;
      }
    }
    .paragraph.experience p{
      width: 750px;
      display: inline-block;
    }
    h3{
      color: $blue;
      font-weight: 400;
    }
    p{
      color: $gray;
      font-weight: 400;
    }
  }
}

@media screen and (max-width:1350px){
  .profile-content .content .paragraph.experience p{
    width: 550px;
    display: inline-block;
  }
}

@media screen and (max-width:1180px) {
  .profile-content .content .paragraph.experience p{
    width: 380px;
    display: inline-block;
  }
}

//skills content
ul.skills-content{
  margin-top: 20px;
  padding-bottom: 20px;
  li{
    color:$blue;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $blue;
  }
}


//toolkit
ul.toolkit{
  position: fixed;
  top:200px;
  margin: 0;
  z-index: 100;
  li{
    background: $blue;
    display: inline;
    float: left;
    padding: 10px;
    height: 60px;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    @include transition;
    img{
      max-width: 40px;
      max-height: 40px;
    }
    i{
      font-size: 25px;
      color: white;
      margin-top: 6px;
    }
    &.hidden-toolkit{
      background-color: $black1;
      position: absolute;
      left: 30px;
      width: 120px;
    }
    &.tool.slideLeft{
      transform: translateX(-118px);
      -webkit-transform: translateX(-118px);
    }
    &.tool-open{
      width: 30px;
    }
    &.tool-green{
      background-color: $green;
    }
    &.tool-gray{
      background-color: $gray-area;
    }
  }
}
