<ul class="list-unstyled cell">
  <li class="cell-content">
    <div class="content-left">
      <profile-large></profile-large>
    </div>
    <div class="content-right">
      <h5 class="shared"><span><a href="#">Lincoln</a></span> shared</h5>
      <p>“We are having tremendous success in attracting consumers to transact on our mobile apps and also in monetizing that mobile traffic,” CEO Daniel Zhang told analysts on the company’s fiscal Q1 2016 earnings call. “Mobile GMV in the June</p>
      <div class="sharing">
        <a href="#">
          <img src="" alt="" />
          <h5>Forget the hype, use Big Data for business improvement, not ‘a-ha’ Moments</h5>
          <p>World of Warcraft: Legion has just been announced as the next expansion in the storied franchise,and we're looking to fill over two dozen openings on the Warcraft team. We're hiring across the board - software engineers, all manner of</p>
        </a>
      </div>
      <ul class="list-unstyled social-icons">
        <li><a href="#">Like</a></li>
        <li><a href="#">Comment</a></li>
        <li><a href="#">Share</a></li>
        <li><a href="#">View Company Page</a></li>
      </ul>
    </div>
  </li>
  <li class="comments">
    <p><a href="#">Show previous comments</a></p>

  </li>
</ul>
