<div class="profile-box">
  <div class="r-width user-card">
    <ul class="list-unstyled">
      <li class="profile-img">
        <profile-large></profile-large>
      </li>
      <li class="user-info">
        <a href="#"><h5><span class="title">Henry Tai,</span> Consultant in McKinsey&Company</h5></a>
        <a href="#"><p>Taipei, Taiwan<br>henry@mckinsey.com/ (+886)921155467</p></a>
      </li>
      <li class="statistics">
        <div class="center-text">
          <a href="#"><span class="num">86</span><br> Connections</a>
        </div>
      </li>
      <li class="statistics s-hide">
        <div class="center-text">
          <a href="#"><span class="num">1st</span><br> Ranking</a>
        </div>
      </li>
      <li class="statistics s-hide">
        <div class="center-text">
          <a href="#"><span class="num">5y</span><br> Experience</a>
        </div>
      </li>
    </ul>
  </div>
</div>
